* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

body .obrazek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  height: 80vh;
  padding-top: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15%;
}

body .obrazek .kabel {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

body .obrazek .kabel img {
  width: 100%;
}

body .obrazek .metka {
  background-color: gray;
  height: 20vh;
  -webkit-box-flex: 0.75;
      -ms-flex: 0.75;
          flex: 0.75;
}

body .obrazek .tablet {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  background-color: #303030;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3%;
  padding-left: 3%;
  padding-right: 5%;
}

body .obrazek .tablet .ekran1 {
  background-color: #111111;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  border-radius: 3%;
}

body .obrazek .tablet .ekran2 {
  background-color: #ECFAFA;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  border-radius: 3%;
  color: black;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
}

body .obrazek .tablet .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3vh;
}

body .obrazek .tablet .container .undermB {
  background-color: #1E1D1D;
  border: 0.5vh #575757 solid;
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .obrazek .tablet .container .undermB .mainButton {
  background-color: #393939;
  border: 0.5vh solid #100F0F;
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

body .obrazek .tablet .container .undermB .mainButton:hover {
  background-color: #1d1d1d;
}

body .obrazek .tablet .container .undermB .mainButton:active {
  background-color: #111111;
}

body .obrazek .tablet .container .button1 {
  background-color: #202020;
  border: 0.5vh solid #0f0f0f;
  height: 6vh;
  width: 20vh;
  border-radius: 10vh;
  margin-bottom: 2vh;
}

body .obrazek .tablet .container .button2 {
  background-color: #202020;
  border: 0.5vh solid #0f0f0f;
  height: 6vh;
  width: 20vh;
  border-radius: 10vh;
  margin-bottom: 2vh;
}

body .obrazek .tablet .container .button3 {
  background-color: #202020;
  border: 0.5vh solid #0f0f0f;
  height: 6vh;
  width: 20vh;
  border-radius: 10vh;
  margin-top: 2vh;
}

body .obrazek .tablet .container .button4 {
  background-color: #202020;
  border: 0.5vh solid #0f0f0f;
  height: 6vh;
  width: 20vh;
  border-radius: 10vh;
  margin-top: 2vh;
}

body .menu {
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

body .menu .pen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-bottom: 1%;
  color: white;
  font-size: rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .menu .pen .menuB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

body .menu .pen .menuB .omnie {
  background-color: #202020;
  border: 0.5vh solid #0f0f0f;
  height: 6vh;
  width: 20vh;
  border-radius: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .menu .pen .menuB .omnie a {
  text-decoration: none;
}

body .menu .pen .menuB .omnie a:link {
  color: white;
}

body .menu .pen .menuB .omnie a:visited {
  color: white;
}

body .menu .pen .menuB .projekty {
  background-color: #202020;
  border: 0.5vh solid #0f0f0f;
  height: 6vh;
  width: 20vh;
  border-radius: 10vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .menu .pen .menuB .projekty a {
  text-decoration: none;
}

body .menu .pen .menuB .projekty a:link {
  color: white;
}

body .menu .pen .menuB .projekty a:visited {
  color: white;
}

body .menu .pen .menuB .kontakt {
  background-color: #202020;
  border: 0.5vh solid #0f0f0f;
  height: 6vh;
  width: 20vh;
  border-radius: 10vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .menu .pen .menuB .kontakt a {
  text-decoration: none;
}

body .menu .pen .menuB .kontakt a:link {
  color: white;
}

body .menu .pen .menuB .kontakt a:visited {
  color: white;
}

body .aboutme1 {
  background-color: #6C767E;
  padding-top: 20vh;
}

body .aboutme1 .title {
  text-align: center;
  font-size: 2.5rem;
  color: white;
}

body .aboutme1 .title h1 {
  margin: 0;
}

body .aboutme1 .kontener {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .aboutme1 .kontener .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
}

body .aboutme1 .kontener .text .zainteresowania {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  color: white;
  font-size: 0.85rem;
}

body .aboutme1 .kontener .text .zainteresowania .buttonZ {
  background-color: #202020;
  border: 0.5vh solid #0f0f0f;
  height: 8vh;
  width: 30vh;
  border-radius: 10vh;
}

body .aboutme1 .kontener .text .zainteresowania .buttonZ1 {
  background-color: #202020;
  border: 0.5vh solid #0f0f0f;
  height: 8vh;
  width: 30vh;
  border-radius: 10vh;
}

body .aboutme1 .kontener .text .znajomosc .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 5vh;
}

body .aboutme1 .kontener .text .znajomosc .first .button1 {
  background-color: #202020;
  border: 0.5vh solid #0f0f0f;
  height: 8vh;
  width: 30vh;
  border-radius: 10vh;
}

body .aboutme1 .kontener .text .znajomosc .first .button2 {
  background-color: #202020;
  border: 0.5vh solid #0f0f0f;
  height: 8vh;
  width: 30vh;
  border-radius: 10vh;
}

body .aboutme1 .kontener .text .znajomosc .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 10vh;
}

body .aboutme1 .kontener .text .znajomosc .second .button3 {
  background-color: #202020;
  border: 0.5vh solid #0f0f0f;
  height: 8vh;
  width: 30vh;
  border-radius: 10vh;
}

body .aboutme1 .kontener .text .znajomosc .second .button4 {
  background-color: #202020;
  border: 0.5vh solid #0f0f0f;
  height: 8vh;
  width: 30vh;
  border-radius: 10vh;
}

body .aboutme1 .kontener .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .aboutme1 .kontener .picture .zdjecie {
  background-image: url(zdjecie.jpg);
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

body .projects1 {
  background-color: #6C767E;
}

body .projects1 .tytul {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

body .projects1 .tytul h1 {
  margin: 0;
  padding-bottom: 8vh;
}

body .projects1 .kontener {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .projects1 .kontener .cofnij {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 10rem;
  color: white;
}

body .projects1 .kontener .karuzela {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  text-align: center;
}

body .projects1 .kontener .dalej {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 10rem;
  color: white;
}

body .contact1 {
  background-color: black;
  text-align: center;
  padding-top: 50vh;
  padding-bottom: 40vh;
}

body .contact1 h1 {
  font-size: 3rem;
  color: white;
  margin: 0;
}

body .contact1 i {
  color: white;
  font-size: 5rem;
}

body .contact1 p {
  font-size: 1.5rem;
  color: white;
}
/*# sourceMappingURL=style.css.map */