/* Background pattern from Toptal Subtle Patterns */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  width: 100%;
}

body .obrazek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  height: 80vh;
  padding-top: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15%;
}

body .obrazek .kabel {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

body .obrazek .kabel img {
  width: 100%;
}

body .obrazek .metka {
  background-color: gray;
  height: 20vh;
  -webkit-box-flex: 0.75;
      -ms-flex: 0.75;
          flex: 0.75;
}

body .obrazek .tablet {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  background-color: #303030;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3%;
  padding-left: 3%;
  padding-right: 5%;
}

body .obrazek .tablet .ekran1 {
  background-color: #111111;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  border-radius: 3%;
}

body .obrazek .tablet .ekran2 {
  background-color: #e1f8ff;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  border-radius: 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .obrazek .tablet .ekran2 img {
  height: 90%;
  width: auto;
}

body .obrazek .tablet .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3vh;
}

body .obrazek .tablet .container .undermB {
  background-color: #1E1D1D;
  border: 0.5vh #575757 solid;
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .obrazek .tablet .container .undermB .mainButton {
  background-color: #393939;
  border: 0.5vh solid #100F0F;
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

body .obrazek .tablet .container .undermB .mainButton:hover {
  background-color: #1d1d1d;
}

body .obrazek .tablet .container .undermB .mainButton:active {
  background-color: #111111;
}

body .obrazek .tablet .container .button1 {
  background-color: #202020;
  border: 0.5vh solid #0f0f0f;
  height: 6vh;
  width: 20vh;
  border-radius: 10vh;
  margin-bottom: 2vh;
}

body .obrazek .tablet .container .button2 {
  background-color: #202020;
  border: 0.5vh solid #0f0f0f;
  height: 6vh;
  width: 20vh;
  border-radius: 10vh;
  margin-bottom: 2vh;
}

body .obrazek .tablet .container .button3 {
  background-color: #202020;
  border: 0.5vh solid #0f0f0f;
  height: 6vh;
  width: 20vh;
  border-radius: 10vh;
  margin-top: 2vh;
}

body .obrazek .tablet .container .button4 {
  background-color: #202020;
  border: 0.5vh solid #0f0f0f;
  height: 6vh;
  width: 20vh;
  border-radius: 10vh;
  margin-top: 2vh;
}

body .menu {
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

body .menu .pen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-bottom: 1%;
  color: white;
  font-size: rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .menu .pen .menuB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

body .menu .pen .menuB a .start {
  background-color: #202020;
  border: 0.5vh solid #0f0f0f;
  height: 6vh;
  width: 16vh;
  border-radius: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .menu .pen .menuB a .start:hover {
  background-color: #161616;
}

body .menu .pen .menuB a .start:active {
  background-color: #0e0d0d;
}

body .menu .pen .menuB a {
  text-decoration: none;
}

body .menu .pen .menuB a .omnie {
  background-color: #202020;
  border: 0.5vh solid #0f0f0f;
  height: 6vh;
  width: 16vh;
  border-radius: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .menu .pen .menuB a .omnie:hover {
  background-color: #161616;
}

body .menu .pen .menuB a .omnie:active {
  background-color: #0e0d0d;
}

body .menu .pen .menuB a:link {
  color: white;
}

body .menu .pen .menuB a:visited {
  color: white;
}

body .menu .pen .menuB a {
  text-decoration: none;
}

body .menu .pen .menuB a .projekty {
  background-color: #202020;
  border: 0.5vh solid #0f0f0f;
  height: 6vh;
  width: 16vh;
  border-radius: 10vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .menu .pen .menuB a .projekty:hover {
  background-color: #161616;
}

body .menu .pen .menuB a .projekty:active {
  background-color: #0e0d0d;
}

body .menu .pen .menuB a:link {
  color: white;
}

body .menu .pen .menuB a:visited {
  color: white;
}

body .menu .pen .menuB a {
  text-decoration: none;
}

body .menu .pen .menuB a .kontakt {
  background-color: #202020;
  border: 0.5vh solid #0f0f0f;
  height: 6vh;
  width: 16vh;
  border-radius: 10vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .menu .pen .menuB a .kontakt:hover {
  background-color: #161616;
}

body .menu .pen .menuB a .kontakt:active {
  background-color: #0e0d0d;
}

body .menu .pen .menuB a:link {
  color: white;
}

body .menu .pen .menuB a:visited {
  color: white;
}

body .portfolioStart {
  display: none;
}

body .aboutme1 {
  padding-top: 3%;
  background-image: url("triangular/triangular/triangular.png");
}

body .aboutme1 .title {
  text-align: center;
  font-size: 4rem;
  color: white;
  margin-bottom: -3%;
}

body .aboutme1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

body .aboutme1 .container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
}

body .aboutme1 .container .text h2 {
  margin: 0;
}

body .aboutme1 .container .text .zainteresowania {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  color: white;
  font-size: 0.85rem;
}

body .aboutme1 .container .text .zainteresowania .buttonZ {
  background-color: #202020;
  border: 3px solid #0f0f0f;
  height: 50px;
  width: 30%;
  border-radius: 10vh;
}

body .aboutme1 .container .text .zainteresowania .buttonZ1 {
  background-color: #202020;
  border: 3px solid #0f0f0f;
  height: 50px;
  width: 30%;
  border-radius: 10vh;
}

body .aboutme1 .container .text .znajomosc .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 3%;
}

body .aboutme1 .container .text .znajomosc .first .button1 {
  background-color: #202020;
  border: 3px solid #0f0f0f;
  height: 50px;
  width: 30%;
  border-radius: 10vh;
}

body .aboutme1 .container .text .znajomosc .first .button2 {
  background-color: #202020;
  border: 3px solid #0f0f0f;
  height: 50px;
  width: 30%;
  border-radius: 10vh;
}

body .aboutme1 .container .text .znajomosc .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 10vh;
}

body .aboutme1 .container .text .znajomosc .second .button3 {
  background-color: #202020;
  border: 3px solid #0f0f0f;
  height: 50px;
  width: 30%;
  border-radius: 10vh;
}

body .aboutme1 .container .text .znajomosc .second .button4 {
  background-color: #202020;
  border: 3px solid #0f0f0f;
  height: 50px;
  width: 30%;
  border-radius: 10vh;
}

body .aboutme1 .container .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .aboutme1 .container .picture .zdjecie {
  background-image: url(zdjecie.jpg);
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

body .projects1 {
  padding-top: 7%;
  background-image: url("triangular/triangular/triangular.png");
}

body .projects1 .tytul p {
  color: white;
  font-size: 4rem;
  text-align: center;
  margin: 0;
  padding-bottom: 1.5%;
}

body .projects1 .kontener {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
  padding-bottom: 5%;
}

body .projects1 .kontener .cofnij {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 10rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .projects1 .kontener .karuzela {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  text-align: center;
}

body .projects1 .kontener .karuzela img {
  height: auto;
  width: 60%;
}

body .projects1 .kontener .dalej {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 10rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .contact1 {
  background-color: black;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 10%;
}

body .contact1 .nazwaKontakt {
  font-size: 4rem;
  color: white;
  margin: 0;
}

body .contact1 i {
  color: white;
  font-size: 5rem;
}

body .contact1 p {
  font-size: 1.5rem;
  color: white;
}

@media only screen and (max-width: 1024px) {
  .body {
    width: 100% !important;
  }
  .obrazek {
    display: none !important;
  }
  .menu {
    display: none !important;
  }
  .portfolioStart {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 !important;
            flex: 1 !important;
    background-color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .portfolioStart img {
    height: 100% !important;
    width: 100% !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    border: #464646 solid 5px;
  }
  .container {
    width: 100% !important;
    display: block !important;
    text-align: center;
  }
  .container .zainteresowania {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
    color: white;
    font-size: 0.85rem;
  }
  .container .zainteresowania .buttonZ {
    background-color: #202020;
    border: 3px solid #0f0f0f;
    height: 50px;
    width: 45% !important;
    border-radius: 10vh;
  }
  .container .zainteresowania .buttonZ1 {
    background-color: #202020;
    border: 3px solid #0f0f0f;
    height: 50px;
    width: 45% !important;
    border-radius: 10vh;
  }
  .container .znajomosc .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 5vh;
  }
  .container .znajomosc .first .button1 {
    background-color: #202020;
    border: 3px solid #0f0f0f;
    height: 50px;
    width: 45% !important;
    border-radius: 10vh;
  }
  .container .znajomosc .first .button2 {
    background-color: #202020;
    border: 3px solid #0f0f0f;
    height: 50px;
    width: 45% !important;
    border-radius: 10vh;
  }
  .container .znajomosc .second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 10vh;
  }
  .container .znajomosc .second .button3 {
    background-color: #202020;
    border: 3px solid #0f0f0f;
    height: 50px;
    width: 45% !important;
    border-radius: 10vh;
  }
  .container .znajomosc .second .button4 {
    background-color: #202020;
    border: 3px solid #0f0f0f;
    height: 50px;
    width: 45% !important;
    border-radius: 10vh;
  }
  .projects1 {
    padding-top: 2vh !important;
  }
  .projects1 .karuzela {
    -webkit-box-flex: 10 !important;
        -ms-flex: 10 !important;
            flex: 10 !important;
    text-align: center;
  }
  .projects1 .karuzela img {
    height: auto !important;
    width: 90% !important;
  }
  .projects1 .cofnij {
    font-size: 5rem !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .projects1 .dalej {
    font-size: 5rem !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
/*# sourceMappingURL=style.css.map */