*{box-sizing: border-box;}
body{
    margin:0;
    font-family: 'Work Sans', sans-serif;
    .obrazek{
        display: flex;
        justify-content: space-evenly;
        background-color: black;
        .kabel{
            position: absolute;
            margin-right: 305vh;
           margin-top: 38vh;
        }
        .metka{
            background-color: gray;
            height:20vh;
            width:10vh;
            position: absolute;
            margin-left: 150vh;
            margin-top: 35vh;
        }

        .tablet{
            background-color: #303030;
            width:65%;
            height:70vh;
            display: flex;
            align-items: center;
            margin-top:10vh;
            border-radius: 3%;
            padding-left: 3%;
            padding-right: 5%; 
       
        .ekran{
            background-color: #111111;
            height: 70%;
            display: flex;
            align-items: center;
            flex:4;
            border-radius: 3%;  
            
        }
        .container{
            display: flex;
            flex:1;
            flex-direction: column;
            align-items: center;
            margin-right:3vh ;
            
           
                    .undermB{
                        background-color: #1E1D1D;
                        border:0.5vh rgb(87, 87, 87) solid;
                        height:15vh;
                        width:15vh;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .mainButton{         
                        background-color: #393939;
                        border:0.5vh solid #100F0F;
                        height:10vh;
                        width:10vh;
                        border-radius: 50%;
                        display: flex;
                        }
            
                    }    
                .button1{
                   background-color:#202020 ;
                   border:0.5vh solid rgb(15, 15, 15); 
                   height: 6vh;
                   width:20vh; 
                   border-radius:10vh;
                   margin-bottom: 2vh;
                }  
                .button2{
                    background-color:#202020 ;
                    border:0.5vh solid rgb(15, 15, 15); 
                    height: 6vh;
                    width:20vh; 
                    border-radius:10vh;
                    margin-bottom: 2vh;
                 }  
                 .button3{
                    background-color:#202020 ;
                   border:0.5vh solid rgb(15, 15, 15); 
                   height: 6vh;
                   width:20vh; 
                   border-radius:10vh;
                   margin-top: 2vh;
                 }  
                 .button4{
                    background-color:#202020 ;
                    border:0.5vh solid rgb(15, 15, 15); 
                    height: 6vh;
                    width:20vh; 
                    border-radius:10vh;
                    margin-top: 2vh;
                 }    
        }

        } 
        
    }
     .menu{
        background-color: black;
        
        .pen{
            display: flex;
            justify-content: center;
            padding-top: 3vh;
            position: relative;
            padding-bottom: 3.5vh;
            text-align: center;
            color:white;
            font-size: rem;
            .omnie{
                background-color:#202020 ;
                border:0.5vh solid rgb(15, 15, 15); 
                height: 6vh;
                width:20vh; 
                border-radius:10vh;
                margin-top: 2vh;
                position: absolute;
                display: flex;
                justify-content: space-evenly;
                margin-left: -40vh;
                align-items: center;
             }  
             .projekty{
                background-color:#202020 ;
                border:0.5vh solid rgb(15, 15, 15); 
                height: 6vh;
                width:20vh; 
                border-radius:10vh;
                margin-top: 2vh;
                position: absolute;
                display: flex;
                justify-content:space-evenly;
                margin-left: 7vh;
                align-items: center;
                
             } 
             .kontakt{
                background-color:#202020 ;
                border:0.5vh solid rgb(15, 15, 15); 
                height: 6vh;
                width:20vh; 
                border-radius:10vh;
                margin-top: 2vh;
                position: absolute;
                display: flex;
                justify-content: space-evenly;
                margin-left: 55vh;
                align-items: center;
             }         
        }
     } 
   .aboutme{
       background-color: #6C767E;
      
       .title{
           text-align: center;
           font-size:2.5rem;
           color: white;
           h1{
               margin: 0;
           }
       }
       .kontener{
           display: flex;
        .text{
            display: flex;
            flex:1;
            flex-direction: column;
            font-size: 1.5rem;
            .zainteresowania{
                display: flex;
                justify-content: space-evenly;
                text-align: center;
                color:white;
                font-size: 0.85rem;
                .buttonZ{
                    background-color:#202020 ;
                    border:0.5vh solid rgb(15, 15, 15); 
                    height: 8vh;
                    width:30vh; 
                    border-radius:10vh;
                }
                .buttonZ1{
                    background-color:#202020 ;
                    border:0.5vh solid rgb(15, 15, 15); 
                    height: 8vh;
                    width:30vh; 
                    border-radius:10vh;
                }
            }
            .znajomosc{
                .first{
                    display: flex;
                    justify-content: space-evenly;
                    padding-bottom: 5vh;
                    .button1{
                        background-color:#202020 ;
                        border:0.5vh solid rgb(15, 15, 15); 
                        height: 8vh;
                        width:30vh; 
                        border-radius:10vh;
                    } 
                    .button2{
                        background-color:#202020 ;
                        border:0.5vh solid rgb(15, 15, 15); 
                        height: 8vh;
                        width:30vh; 
                        border-radius:10vh;
                    }
                }
                .second{
                    display: flex;
                    justify-content: space-evenly;
                    padding-bottom: 10vh;
                    .button3{
                        background-color:#202020 ;
                        border:0.5vh solid rgb(15, 15, 15); 
                        height: 8vh;
                        width:30vh; 
                        border-radius:10vh;
                    } 
                    .button4{
                        background-color:#202020 ;
                        border:0.5vh solid rgb(15, 15, 15); 
                        height: 8vh;
                        width:30vh; 
                        border-radius:10vh;
                    }
                }
            }
            
           }
           .picture{
            display: flex;
            flex:1;
            
           }
       }
   } 
   .projects{
    background-color: #6C767E;
        .tytul{
            h1{
                color:white;
                font-size: 2.5rem;
                text-align: center;
                margin: 0;
            }
        }  
   }      
}
//@media only screen and(max-width:1024px){
   // .tablet{
     //   display:none;
       // width:90%!important;
       // height:30vh!important;
      //  .undermB{
      //      height:5vh!important;
       //     width:5vh!important;  
       // }
  //  }
//}