/* Background pattern from Toptal Subtle Patterns */
*{box-sizing: border-box;}
html{
    scroll-behavior: smooth;
}
body{
margin:0;
font-family: 'Work Sans', sans-serif;
width:100%;
    .obrazek{
            display: flex;
            background-color: black;
            height:80vh;
            padding-top:10vh;
            align-items: center;
            padding-right:15%;
            .kabel{
            flex:3;
            img{
                width:100%;
            }
            }
            .metka{
                background-image: linear-gradient(to bottom right, rgb(128, 127, 127), rgb(78, 78, 78));
                height:20vh;
                flex:0.75;
            }

            .tablet{
                flex:8;
               background-image: linear-gradient(to bottom,#414141,#282828,#282828,#1A1A1A);
               height:100%;
                display: flex;
                align-items: center;
                border-radius: 3%;
                padding-left: 3%;
                padding-right: 5%; 
        
        .ekran1{
                height: 80%;
                display: flex;
                align-items: center;
                flex:4;
                border-radius: 3%; 
                justify-content: center; 
                img{
                    height:90%;
                    width:auto;
                }
                
            }
            .ekran2{
                height: 80%;
                display: flex;
                align-items: center;
                flex:4;
                border-radius: 3%; 
                justify-content: center;
                img{
                    height:90%;
                    width:auto;
                }
                
            }
            
            .container{
                display: flex;
                flex:1;
                flex-direction: column;
                align-items: center;
                margin-right:3vh ;
                
            
                        .undermB{
                            background-color: rgb(31, 31, 31);
                            border:0.4vh rgb(87, 87, 87) solid;
                            height:15vh;
                            width:15vh;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .mainButton{  
                            background-image: radial-gradient(#3f3f3f ,#1a1a1a );
                            border:0.4vh solid #100F0F;
                            height:10vh;
                            width:10vh;
                            border-radius: 50%;
                            display: flex;
                            z-index: 10;
                            }
                            .mainButton:hover{
                                background-image: radial-gradient(#131313 ,#1d1d1d );
                            }
                            .mainButton:active{
                                background-image: radial-gradient(#0c0c0c ,#111111,#1b1b1b );
                            }
                
                        }    
                    .button1{
                    background-image: linear-gradient(to bottom right,#111111,#3f3f3f);
                    border:0.4vh solid rgb(15, 15, 15); 
                    height: 6vh;
                    width:20vh; 
                    border-radius:10vh;
                    margin-bottom: 2vh;
                    }  
                    .button2{
                        background-image: linear-gradient(to bottom right,#111111,#3f3f3f);
                        border:0.4vh solid rgb(15, 15, 15); 
                        height: 6vh;
                        width:20vh; 
                        border-radius:10vh;
                        margin-bottom: 2vh;
                    }  
                    .button3{
                    background-image: linear-gradient(to bottom right,#111111,#3f3f3f);
                    border:0.4vh solid rgb(15, 15, 15); 
                    height: 6vh;
                    width:20vh; 
                    border-radius:10vh;
                    margin-top: 2vh;
                    }  
                    .button4{
                        background-image: linear-gradient(to bottom right,#111111,#3f3f3f);
                        border:0.4vh solid rgb(15, 15, 15); 
                        height: 6vh;
                        width:20vh; 
                        border-radius:10vh;
                        margin-top: 2vh;
                    }    
            }

            } 
            
    }
    .menu{
           background-color: black;
            position: sticky;
            top:0;
            padding:2%;
            
            .pen{
                height: 6vh;
                display: flex;
                padding-top:1%;
                justify-content: center;
                position: relative;
                padding-bottom: 1%;
                color:white;
                font-size: 1.2rem;
                font-weight: bold;
                align-items: center;
                .menuB{
                    background-image: url("pen.png");
                    background-size: 100% 100%;
                    display: flex;
                    position: absolute;
                    padding:1% 5%;
                    a{
                        text-decoration: none;
                        .start{
                            img{
                                width:100%;
                                padding-right: 10%;
                            }

                        }
                        
                         .omnie,
                         .projekty,
                         .kontakt,
                         .start{
                            height: 6vh;
                            width:16vh; 
                            display: flex;
                            justify-content: space-evenly;
                            flex:1;
                            align-items: center;
                            }
                        p{
                            border-left: 1px solid white;
                            width:100%;
                            text-align: center;
                           
                        }
                    }        
                        a:link{
                            color:white;
                        }
                        a:visited{
                            color:white;
                        }
                    
                }         
            }
            
    } 
    .portfolioStart{
        display: none;
    }
    .menuR{
        display:none;
    }
    article{
        background-image: url("triangular/triangular/triangular.png");
    }
    .aboutme1{
        padding-top:3%;
        .title{
            text-align: center;
            font-size:4rem;
            color: black;
            margin-bottom: -3%;
           
        }
        .container{
            display: flex;
            text-align: center;
                .text{
                    display: flex;
                    flex:1;
                    flex-direction: column;
                    font-size: 1.5rem;
                    h2{
                        margin:0;
                    }
                    .zainteresowania{
                        display: flex;
                        justify-content: space-evenly;
                        text-align: center;
                        color:white;
                        font-size: 0.85rem;
                        .buttonZ,
                        .buttonZ1{
                          background-image: linear-gradient(to bottom right,#000000,#3f3f3f);
                            border:3px solid rgb(15, 15, 15); 
                            height: 50px;
                            width:30%; 
                            border-radius:10vh;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: 1s;
                        }
                        .buttonZ:hover,
                        .buttonZ1:hover{
                            transform: scale(1.5,1.5);
                           
                        }
                       
                    }
                    .znajomosc{
                        .first{
                            display: flex;
                            justify-content: space-evenly;
                            padding-bottom: 3%;
                            color:white;
                            font-size:0.85rem;
                            .button1,
                            .button2{
                                background-image: linear-gradient(to bottom right,#000000,#3f3f3f);
                                border:3px solid rgb(15, 15, 15); 
                                height: 50px;
                                width:30%; 
                                border-radius:10vh;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: 1s;
                            } 
                            .button1:hover,
                            .button2:hover{
                                transform: scale(1.5,1.5);  
                            }
                        }
                        .second{
                            display: flex;
                            justify-content: space-evenly;
                            padding-bottom: 10vh;
                            text-align: center;
                            color:white;
                            font-size: 0.85rem;
                            .button3,
                            .button4{
                               background-image: linear-gradient(to bottom right,#000000,#3f3f3f);
                               border:3px solid rgb(15, 15, 15); 
                                height: 50px;
                                width:30%; 
                                border-radius:10vh;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: 1s;
                            } 
                            .button3:hover,
                            .button4:hover{
                                transform: scale(1.5,1.5);  
                            }
                        }
                    }
                    
                }
            .picture{
                display: flex;
                flex:1;
                justify-content: center;
                align-items: center;
                    .zdjecie{
                        img{
                            height:auto;
                            width:40%;
                            border-radius: 50%;
                        }
                    }
                   
                
            }
        }
    } 
    
    .projects1{
        padding-top: 8%;
        padding-bottom: 8%;
            .tytul{
                p{
                    color:black;
                    font-size: 4rem;
                    text-align: center;
                    margin:0;
                    padding-bottom: 1.5%;
                }
                
            } 
            .kontener{
                font-family: 'Ranchers', cursive;
                display: flex;
                height:auto;
                width:100%;
                .cofnij{
                    justify-content: center;
                    flex:1;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    
                    .prev{
                        color:rgb(71, 71, 71);
                        font-size: 4rem;
                    }
                }
                    
                .karuzela{
                    flex:2;
                   height:60vh;
                    display: flex;
                    justify-content: center;
                   
                    img{
                        height:100%;
                        width:auto;
                    }
                    
            
                    
                    
                }
                .dalej{
                    justify-content: center;
                    flex:1;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    .next{
                        color:rgb(71, 71, 71);
                        font-size: 4rem;
                    }
                }
            } 
        
    }
    
    .contact1{
        background-color: black;
        text-align: center;
        padding-top:15%;
        padding-bottom:10%;
        .nazwaKontakt{
            font-size: 4rem;
            color: white;
            margin:0;
            
        }
        i{
            color:white;
            font-size: 5rem;
        }
        p{
            font-size: 1.5rem;
            color: white;  
            
        }
    }    
}
@media only screen and(max-width:1024px){
    body{
        width:100%!important;
    }
    .obrazek{
       display:none!important;
    }
    .menu{
        display: none!important;
        
    }
    .portfolioStart{
    display: flex!important;
    flex:1!important;
    background-color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left:5%;
    padding-right:5%;
    
    
    img{
        height:100%!important;
        width: 100%!important;
        justify-content: center!important;
        display:flex!important;
        border: rgb(70, 70, 70) solid 5px;
    }
        
    }
    .container{
        width:100%!important;
        display: block!important;
        text-align: center;
        .zdjecie{
            img{
                height:auto!important;
                width:50%!important;
                border-radius: 50%!important;
            }
        }
        .text{
            padding-top: 50px!important;
            .titleA{
                h2{
                    font-size: 3.5rem!important;
                }
                p{
                    font-size: 2rem;
                }   
            }
            
        }
        .zainteresowania{
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            color:white;
            font-size: 1.4rem!important;
            .buttonZ,
            .buttonZ1{
                background-color:#202020 ;
                border:3px solid rgb(15, 15, 15); 
                height: 80px!important;
                width:45%!important; 
                border-radius:10vh;
            }
            .buttonZ:hover,
            .buttonZ1:hover{
             transform:none!important;
                           
            }
        }
        .znajomosc{
            .first{
                display: flex;
                justify-content: space-evenly;
                padding-bottom: 5vh;
                font-size: 1.4rem!important;
                .button1,
                .button2{
                    background-color:#202020 ;
                    border:3px solid rgb(15, 15, 15); 
                    height: 80px!important;
                    width:45%!important;  
                    border-radius:10vh;
                } 
                .button1:hover,
                .button2:hover{
                    transform:none!important;
                           
                }
            }
            .second{
                display: flex;
                justify-content: space-evenly;
                padding-bottom: 10vh;
                font-size: 0.75rem!important;
                .button3,
                .button4{
                    background-color:#202020 ;
                    border:3px solid rgb(15, 15, 15); 
                    height: 80px!important;
                    width:45%!important; 
                    border-radius:10vh;
                } 
               
                .button3:hover,
                .button4:hover{
                 transform:none!important;
                               
                }
            }
        }
        
    }
    .aboutme1{
        .title{
            padding-top:9%!important;
            margin-top: -1%;
            p{
                font-size: 3rem!important;
            }
        }
        
    }
    .projects1{
        padding-top: 17%!important;
        padding-bottom: 20%!important;
        .tytul{
            p{
                padding-bottom: 10%!important;
                font-size: 3rem!important;
            }
        }
         
        .karuzela{
            flex:10!important;
            text-align:center;
            height: 40vh!important;
            img{
                height:100%!important;
                width:auto!important;
            }
        }
        .cofnij{
            font-size: 4rem!important;
            justify-content: center!important;
            display: flex!important;
        }
        .dalej{
            font-size: 4rem!important;
            justify-content: center!important;
            display: flex!important;
        }
    } 
    .contact1{
        padding-top:25%!important;
        padding-bottom:25%!important;
    }

    .menuR{
        position: sticky;
        top: 0;
        background-color: black!important;
        display: flex!important;
        justify-content: space-evenly;
        align-items: center!important;
        padding-bottom: 2%;
        padding-top: 2%;
        p{
            color:white!important; 
            font-size: 2rem!important;
        }
        .kreska{
            color: white;   
        }
        a{
            text-decoration: none;
            width:auto;
            .omnieR,
            .projektyR,
            .kontaktR{
                height: 6vh!important;
                display: flex!important;
                justify-content: space-evenly!important;
                align-items: center!important;
            }
           
        }
       
    }
    
      
} 
@media only screen and(max-width:600px){
    body{
        width:100%!important;
    }
    .obrazek{
       display:none!important;
    }
    .menu{
        display: none!important;
        
    }
    .portfolioStart{
    display: flex!important;
    flex:1!important;
    background-color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left:5%;
    padding-right:5%;
    
    
    img{
        height:100%!important;
        width: 100%!important;
        justify-content: center!important;
        display:flex!important;
        border: rgb(70, 70, 70) solid 5px;
    }
        
    }
    .container{
        width:100%!important;
        display: block!important;
        text-align: center;
        .zdjecie{
            img{
                height:auto!important;
                width:70%!important;
                border-radius: 50%!important;
            }
        }
        .text{
            padding-top: 50px!important;
            .titleA{
                h2{
                    font-size: 2rem!important;
                }
                p{
                    font-size: 1.2rem;
                }   
            }
            
        }
        .zainteresowania{
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            color:white;
            font-size: 0.75rem!important;
            .buttonZ,
            .buttonZ1{
                background-color:#202020 ;
                border:3px solid rgb(15, 15, 15); 
                height: 50px!important;
                width:45%!important; 
                border-radius:10vh;
            }
            .buttonZ:hover,
            .buttonZ1:hover{
             transform:none!important;
                           
            }
        }
        .znajomosc{
            .first{
                display: flex;
                justify-content: space-evenly;
                padding-bottom: 5vh;
                font-size: 0.75rem!important;
                .button1,
                .button2{
                    background-color:#202020 ;
                    border:3px solid rgb(15, 15, 15); 
                    height: 50px!important;
                    width:45%!important;  
                    border-radius:10vh;
                } 
            .button1:hover,
            .button2:hover{
             transform:none!important;
                           
            }
            }
            .second{
                display: flex;
                justify-content: space-evenly;
                padding-bottom: 10vh;
                font-size: 0.75rem!important;
                .button3,
                .button4{
                    background-color:#202020 ;
                    border:3px solid rgb(15, 15, 15); 
                    height: 50px!important;
                    width:45%!important; 
                    border-radius:10vh;
                } 
            .button3:hover,
            .button4:hover{
             transform:none!important;
                           
            }
            }
        }
        
    }
    .aboutme1{
        .title{
            padding-top:3.5%!important;
            margin-top: -1%;
        }
    }
    .projects1{
        padding-top: 20%!important;
        padding-bottom: 20%!important;
        .tytul{
            p{
                padding-bottom: 10%!important;
            }
        }
         
        .karuzela{
            flex:10!important;
            text-align:center;
            height: 25vh!important;
            img{
                height:100%!important;
                width:auto!important;
            }
        }
        .cofnij{
            font-size: 4rem!important;
            justify-content: center!important;
            display: flex!important;
        }
        .dalej{
            font-size: 4rem!important;
            justify-content: center!important;
            display: flex!important;
        }
    } 
    .contact1{
        padding-top:25%!important;
        padding-bottom:25%!important;
    }
    .menuR{
        position: sticky;
        top: 0;
        background-color: black!important;
        display: flex!important;
        justify-content: space-evenly;
        align-items: center!important;
        padding-bottom: 2%;
        padding-top: 2%;
        p{
            color:white!important; 
            font-size: 1.2rem!important;
        }
        .kreska{
            color: white;   
        }
        a{
            text-decoration: none;
            width:auto;
            .omnieR,
            .projektyR,
            .kontaktR{
                height: 6vh!important;
                flex:1!important;
                display: flex!important;
                justify-content: space-evenly!important;
                align-items: center!important;
            }
           
        }
       
    }
      
} 


