/* Background pattern from Toptal Subtle Patterns */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  width: 100%;
}

body .obrazek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  height: 80vh;
  padding-top: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15%;
}

body .obrazek .kabel {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

body .obrazek .kabel img {
  width: 100%;
}

body .obrazek .metka {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#807f7f), to(#4e4e4e));
  background-image: linear-gradient(to bottom right, #807f7f, #4e4e4e);
  height: 20vh;
  -webkit-box-flex: 0.75;
      -ms-flex: 0.75;
          flex: 0.75;
}

body .obrazek .tablet {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#414141), color-stop(#282828), color-stop(#282828), to(#1A1A1A));
  background-image: linear-gradient(to bottom, #414141, #282828, #282828, #1A1A1A);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3%;
  padding-left: 3%;
  padding-right: 5%;
}

body .obrazek .tablet .ekran1 {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  border-radius: 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .obrazek .tablet .ekran1 img {
  height: 90%;
  width: auto;
}

body .obrazek .tablet .ekran2 {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  border-radius: 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .obrazek .tablet .ekran2 img {
  height: 90%;
  width: auto;
}

body .obrazek .tablet .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3vh;
}

body .obrazek .tablet .container .undermB {
  background-color: #1f1f1f;
  border: 0.4vh #575757 solid;
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .obrazek .tablet .container .undermB .mainButton {
  background-image: radial-gradient(#3f3f3f, #1a1a1a);
  border: 0.4vh solid #100F0F;
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

body .obrazek .tablet .container .undermB .mainButton:hover {
  background-image: radial-gradient(#131313, #1d1d1d);
}

body .obrazek .tablet .container .undermB .mainButton:active {
  background-image: radial-gradient(#0c0c0c, #111111, #1b1b1b);
}

body .obrazek .tablet .container .button1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#111111), to(#3f3f3f));
  background-image: linear-gradient(to bottom right, #111111, #3f3f3f);
  border: 0.4vh solid #0f0f0f;
  height: 6vh;
  width: 20vh;
  border-radius: 10vh;
  margin-bottom: 2vh;
}

body .obrazek .tablet .container .button2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#111111), to(#3f3f3f));
  background-image: linear-gradient(to bottom right, #111111, #3f3f3f);
  border: 0.4vh solid #0f0f0f;
  height: 6vh;
  width: 20vh;
  border-radius: 10vh;
  margin-bottom: 2vh;
}

body .obrazek .tablet .container .button3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#111111), to(#3f3f3f));
  background-image: linear-gradient(to bottom right, #111111, #3f3f3f);
  border: 0.4vh solid #0f0f0f;
  height: 6vh;
  width: 20vh;
  border-radius: 10vh;
  margin-top: 2vh;
}

body .obrazek .tablet .container .button4 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#111111), to(#3f3f3f));
  background-image: linear-gradient(to bottom right, #111111, #3f3f3f);
  border: 0.4vh solid #0f0f0f;
  height: 6vh;
  width: 20vh;
  border-radius: 10vh;
  margin-top: 2vh;
}

body .menu {
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 2%;
}

body .menu .pen {
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-bottom: 1%;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .menu .pen .menuB {
  background-image: url("pen.png");
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  padding: 1% 5%;
}

body .menu .pen .menuB a {
  text-decoration: none;
}

body .menu .pen .menuB a .start img {
  width: 100%;
  padding-right: 10%;
}

body .menu .pen .menuB a .omnie,
body .menu .pen .menuB a .projekty,
body .menu .pen .menuB a .kontakt,
body .menu .pen .menuB a .start {
  height: 6vh;
  width: 16vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .menu .pen .menuB a p {
  border-left: 1px solid white;
  width: 100%;
  text-align: center;
}

body .menu .pen .menuB a:link {
  color: white;
}

body .menu .pen .menuB a:visited {
  color: white;
}

body .portfolioStart {
  display: none;
}

body .menuR {
  display: none;
}

body article {
  background-image: url("triangular/triangular/triangular.png");
}

body .aboutme1 {
  padding-top: 3%;
}

body .aboutme1 .title {
  text-align: center;
  font-size: 4rem;
  color: black;
  margin-bottom: -3%;
}

body .aboutme1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

body .aboutme1 .container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
}

body .aboutme1 .container .text h2 {
  margin: 0;
}

body .aboutme1 .container .text .zainteresowania {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  color: white;
  font-size: 0.85rem;
}

body .aboutme1 .container .text .zainteresowania .buttonZ,
body .aboutme1 .container .text .zainteresowania .buttonZ1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#000000), to(#3f3f3f));
  background-image: linear-gradient(to bottom right, #000000, #3f3f3f);
  border: 3px solid #0f0f0f;
  height: 50px;
  width: 30%;
  border-radius: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

body .aboutme1 .container .text .zainteresowania .buttonZ:hover,
body .aboutme1 .container .text .zainteresowania .buttonZ1:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

body .aboutme1 .container .text .znajomosc .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 3%;
  color: white;
  font-size: 0.85rem;
}

body .aboutme1 .container .text .znajomosc .first .button1,
body .aboutme1 .container .text .znajomosc .first .button2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#000000), to(#3f3f3f));
  background-image: linear-gradient(to bottom right, #000000, #3f3f3f);
  border: 3px solid #0f0f0f;
  height: 50px;
  width: 30%;
  border-radius: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

body .aboutme1 .container .text .znajomosc .first .button1:hover,
body .aboutme1 .container .text .znajomosc .first .button2:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

body .aboutme1 .container .text .znajomosc .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 10vh;
  text-align: center;
  color: white;
  font-size: 0.85rem;
}

body .aboutme1 .container .text .znajomosc .second .button3,
body .aboutme1 .container .text .znajomosc .second .button4 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#000000), to(#3f3f3f));
  background-image: linear-gradient(to bottom right, #000000, #3f3f3f);
  border: 3px solid #0f0f0f;
  height: 50px;
  width: 30%;
  border-radius: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

body .aboutme1 .container .text .znajomosc .second .button3:hover,
body .aboutme1 .container .text .znajomosc .second .button4:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

body .aboutme1 .container .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .aboutme1 .container .picture .zdjecie img {
  height: auto;
  width: 40%;
  border-radius: 50%;
}

body .projects1 {
  padding-top: 8%;
}

body .projects1 .tytul p {
  color: black;
  font-size: 4rem;
  text-align: center;
  margin: 0;
  padding-bottom: 1.5%;
}

body .projects1 .kontener {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
  padding-bottom: 5%;
}

body .projects1 .kontener .cofnij {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 8rem;
  color: #6e6e6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  cursor: pointer;
}

body .projects1 .kontener .karuzela {
  -webkit-box-flex: 4.5;
      -ms-flex: 4.5;
          flex: 4.5;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .projects1 .kontener .karuzela img {
  height: 100%;
  width: auto;
}

body .projects1 .kontener .dalej {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 8rem;
  color: #6e6e6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

body .contact1 {
  background-color: black;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 10%;
}

body .contact1 .nazwaKontakt {
  font-size: 4rem;
  color: white;
  margin: 0;
}

body .contact1 i {
  color: white;
  font-size: 5rem;
}

body .contact1 p {
  font-size: 1.5rem;
  color: white;
}

@media only screen and (max-width: 1024px) {
  body {
    width: 100% !important;
  }
  .obrazek {
    display: none !important;
  }
  .menu {
    display: none !important;
  }
  .portfolioStart {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 !important;
            flex: 1 !important;
    background-color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .portfolioStart img {
    height: 100% !important;
    width: 100% !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    border: #464646 solid 5px;
  }
  .container {
    width: 100% !important;
    display: block !important;
    text-align: center;
  }
  .container .zdjecie img {
    height: auto !important;
    width: 50% !important;
    border-radius: 50% !important;
  }
  .container .text {
    padding-top: 50px !important;
  }
  .container .text .titleA h2 {
    font-size: 3.5rem !important;
  }
  .container .text .titleA p {
    font-size: 2rem;
  }
  .container .zainteresowania {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
    color: white;
    font-size: 1.4rem !important;
  }
  .container .zainteresowania .buttonZ {
    background-color: #202020;
    border: 3px solid #0f0f0f;
    height: 80px !important;
    width: 45% !important;
    border-radius: 10vh;
  }
  .container .zainteresowania .buttonZ1 {
    background-color: #202020;
    border: 3px solid #0f0f0f;
    height: 80px !important;
    width: 45% !important;
    border-radius: 10vh;
  }
  .container .znajomosc .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 5vh;
    font-size: 1.4rem !important;
  }
  .container .znajomosc .first .button1 {
    background-color: #202020;
    border: 3px solid #0f0f0f;
    height: 80px !important;
    width: 45% !important;
    border-radius: 10vh;
  }
  .container .znajomosc .first .button2 {
    background-color: #202020;
    border: 3px solid #0f0f0f;
    height: 80px !important;
    width: 45% !important;
    border-radius: 10vh;
  }
  .container .znajomosc .second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 10vh;
    font-size: 0.75rem !important;
  }
  .container .znajomosc .second .button3 {
    background-color: #202020;
    border: 3px solid #0f0f0f;
    height: 80px !important;
    width: 45% !important;
    border-radius: 10vh;
  }
  .container .znajomosc .second .button4 {
    background-color: #202020;
    border: 3px solid #0f0f0f;
    height: 80px !important;
    width: 45% !important;
    border-radius: 10vh;
  }
  .aboutme1 .title {
    padding-top: 9% !important;
    margin-top: -1%;
  }
  .aboutme1 .title p {
    font-size: 3rem !important;
  }
  .projects1 {
    padding-top: 17% !important;
    padding-bottom: 20% !important;
  }
  .projects1 .tytul p {
    padding-bottom: 10% !important;
    font-size: 3rem !important;
  }
  .projects1 .karuzela {
    -webkit-box-flex: 10 !important;
        -ms-flex: 10 !important;
            flex: 10 !important;
    text-align: center;
    height: 40vh !important;
  }
  .projects1 .karuzela img {
    height: 100% !important;
    width: auto !important;
  }
  .projects1 .cofnij {
    font-size: 5rem !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .projects1 .dalej {
    font-size: 5rem !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .contact1 {
    padding-top: 25% !important;
    padding-bottom: 25% !important;
  }
  .menuR {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: black !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    padding-bottom: 2%;
    padding-top: 2%;
  }
  .menuR p {
    color: white !important;
    font-size: 2rem !important;
  }
  .menuR .kreska {
    color: white;
  }
  .menuR a {
    text-decoration: none;
    width: auto;
  }
  .menuR a .omnieR,
  .menuR a .projektyR,
  .menuR a .kontaktR {
    height: 6vh !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
}

@media only screen and (max-width: 600px) {
  body {
    width: 100% !important;
  }
  .obrazek {
    display: none !important;
  }
  .menu {
    display: none !important;
  }
  .portfolioStart {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 !important;
            flex: 1 !important;
    background-color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .portfolioStart img {
    height: 100% !important;
    width: 100% !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    border: #464646 solid 5px;
  }
  .container {
    width: 100% !important;
    display: block !important;
    text-align: center;
  }
  .container .zdjecie img {
    height: auto !important;
    width: 70% !important;
    border-radius: 50% !important;
  }
  .container .text {
    padding-top: 50px !important;
  }
  .container .text .titleA h2 {
    font-size: 2rem !important;
  }
  .container .text .titleA p {
    font-size: 1.2rem;
  }
  .container .zainteresowania {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
    color: white;
    font-size: 0.75rem !important;
  }
  .container .zainteresowania .buttonZ,
  .container .zainteresowania .buttonZ1 {
    background-color: #202020;
    border: 3px solid #0f0f0f;
    height: 50px !important;
    width: 45% !important;
    border-radius: 10vh;
  }
  .container .zainteresowania .buttonZ:hover,
  .container .zainteresowania .buttonZ1:hover {
    -webkit-transform: scale(1.2, 1.2) !important;
            transform: scale(1.2, 1.2) !important;
  }
  .container .znajomosc .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 5vh;
    font-size: 0.75rem !important;
  }
  .container .znajomosc .first .button1 {
    background-color: #202020;
    border: 3px solid #0f0f0f;
    height: 50px !important;
    width: 45% !important;
    border-radius: 10vh;
  }
  .container .znajomosc .first .button2 {
    background-color: #202020;
    border: 3px solid #0f0f0f;
    height: 50px !important;
    width: 45% !important;
    border-radius: 10vh;
  }
  .container .znajomosc .second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 10vh;
    font-size: 0.75rem !important;
  }
  .container .znajomosc .second .button3 {
    background-color: #202020;
    border: 3px solid #0f0f0f;
    height: 50px !important;
    width: 45% !important;
    border-radius: 10vh;
  }
  .container .znajomosc .second .button4 {
    background-color: #202020;
    border: 3px solid #0f0f0f;
    height: 50px !important;
    width: 45% !important;
    border-radius: 10vh;
  }
  .aboutme1 .title {
    padding-top: 3.5% !important;
    margin-top: -1%;
  }
  .projects1 {
    padding-top: 20% !important;
    padding-bottom: 20% !important;
  }
  .projects1 .tytul p {
    padding-bottom: 10% !important;
  }
  .projects1 .karuzela {
    -webkit-box-flex: 10 !important;
        -ms-flex: 10 !important;
            flex: 10 !important;
    text-align: center;
    height: 25vh !important;
  }
  .projects1 .karuzela img {
    height: 100% !important;
    width: auto !important;
  }
  .projects1 .cofnij {
    font-size: 5rem !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .projects1 .dalej {
    font-size: 5rem !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .contact1 {
    padding-top: 25% !important;
    padding-bottom: 25% !important;
  }
  .menuR {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: black !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    padding-bottom: 2%;
    padding-top: 2%;
  }
  .menuR p {
    color: white !important;
    font-size: 1.2rem !important;
  }
  .menuR .kreska {
    color: white;
  }
  .menuR a {
    text-decoration: none;
    width: auto;
  }
  .menuR a .omnieR,
  .menuR a .projektyR,
  .menuR a .kontaktR {
    height: 6vh !important;
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 !important;
            flex: 1 !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
}
/*# sourceMappingURL=style.css.map */